#layoutMenuCurso{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    min-height: 60vh;
    max-width: 1024px;
    margin: auto;
    margin-top: 95px;
}
#layoutMenuCurso .sidebar{
    padding: 35px 10px 10px 10px;
    min-width: 30%;
    max-width: 30%;
}
#layoutMenuCurso .carContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
        margin: .5rem;
    margin: 0 auto;
    max-width: 790px;
}
#layoutMenuCurso .carContainer .title{
    padding: 0px 24px;
    width: 100%;
}
@media only screen and (max-width: 425px) {
    #layoutMenuCurso{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 10px;
        margin-top: 0px;
    }
    #layoutMenuCurso .carContainer{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
  }